body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(174, 206, 31);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    stroke: black;
    stroke-width: 2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.header_text2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(rgba(241, 21, 39, 0.945), green, blue);
    stroke: black;
    text-align: center;

}
.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}